@import './utils/variables';
@import './utils/mixins';

.intro {
  @include section;
  background-color: saddlebrown;

  .intro__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;

    * {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .intro__title-block {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .title {
    @include sizing('font-size', (768px: 70px, 1600px: 100px));
    margin: 0;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 2px $palette-text-black;
  }

  .subtitle {
    @include sizing('font-size', (768px: 35px, 1600px: 50px));
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px $palette-text-black;
  }

  .intro__next {
    height: 100px;
    flex-shrink: 0;
    z-index: 2;
  }
}