@import 'utils/variables';
@import 'utils/mixins';

.menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  z-index: 2;

  &.menu--onscroll {
    @extend .menu;

    background-color: #fff;
  }

  .content {
    @include content;

    justify-content: space-between;
    padding: 0 25px;
  }

  .menu__logo {
    z-index: 3;
  }

  .menu__list {
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    z-index: 3;
  }

  .menu__item {

  }

  .menu__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 0 25px;
    text-transform: uppercase;
    text-decoration: none;
  }

  .menu__link--active {
    @extend .menu__link;

    color: red;
  }
}