@import 'utils/variables';
@import 'utils/mixins';

.menu {
  @include sizing('height', (320px: 40px, 599px: 60px));
  @include transition;
  @include transition(top, 0.3s);

  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  z-index: 2;

  &.menu--onscroll {

    .menu__background {
      height: 100%;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
    }

    .menu__logo {
      border-color: $palette-black;

      span {
        color: $palette-black;
      }
    }

    .menu-list__link:not(.menu__link--active) {
      color: $palette-gray-dark;

      &:hover {
        color: $palette-accent-primary-text;
      }
    }

    .menu-list__link--active {

      &::after {
        opacity: 1;
      }
    }

    .menu-btn {

      span::before {
        color: $palette-black;
      }
    }
  }

  .menu__background {
    @include transition(height);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #fff;
  }

  .content {
    @include content;

    justify-content: space-between;
    padding: 0 25px;

    @include mobile {
      padding: 0;
    }

    // temporary
    outline: none;
  }

  .menu__logo {
    @include sizing('width', (320px: 30px, 599px: 40px));
    @include sizing('height', (320px: 30px, 599px: 40px));
    @include transition(border-color);

    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    z-index: 3;

    @include mobile {
      @include sizing('margin-left', (320px: 10px, 599px: 25px));
    }

    span {
      @include transition(color);
      @include sizing('font-size', (320px: 18px, 599px: 24px));

      line-height: 1;
      font-weight: 100;
      color: #fff;
      cursor: default;
      user-select: none;
    }
  }

  .menu-btn {
    @include sizing('width', (320px: 40px, 599px: 60px));
    @include sizing('height', (320px: 40px, 599px: 60px));

    display: none;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    z-index: 2;
    cursor: pointer;

    @include mobile {
      display: initial;
    }

    span::before {
      font-size: 18px;
      color: #fff;
    }

    &:hover {
      span::before {
        color: $palette-accent-primary-text;
      }
    }
  }
}

.menu-mobile-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: transparent;
  z-index: 99;
}

.menu-mobile {
  width: 100%;
  outline: none;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: #fff;

  .menu-mobile__top-row {
    @include sizing('height', (320px: 40px, 599px: 60px));

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-mobile__logo {
    @include sizing('width', (320px: 30px, 599px: 40px));
    @include sizing('height', (320px: 30px, 599px: 40px));
    @include sizing('margin-left', (320px: 10px, 599px: 25px));

    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $palette-black;
    border-radius: 50%;
    background-color: transparent;
    z-index: 3;

    span {
      @include sizing('font-size', (320px: 18px, 599px: 24px));

      line-height: 1;
      font-weight: 100;
      color: $palette-black;
      cursor: default;
      user-select: none;
    }
  }

  .menu-mobile__close-btn {
    @include sizing('width', (320px: 40px, 599px: 60px));
    @include sizing('height', (320px: 40px, 599px: 60px));

    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    z-index: 2;
    cursor: pointer;

    @include mobile {
      display: initial;
    }

    span::before {
      font-size: 20px;
      color: $palette-black;
    }

    &:hover {
      span::before {
        color: $palette-accent-primary-text;
      }
    }
  }
}

.ReactModal__Body--open {

}