@import 'utils/variables';
@import 'utils/mixins';

.skills-and-tools {
  @include section;

  .skills-and-tools__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;

    * {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .skills-and-tools__tint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .title {
    @include title;

    color: #fff;
    z-index: 2;
  }

  .content {
    @include content(column);

    z-index: 2;
  }

  .skills-and-tools__skills-list {
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .skills-and-tools__skills-item {
    width: calc(50% - (25px / 2));
    max-width: 550px;
    padding-bottom: 25px;

    &:nth-of-type(odd) {
      margin-right: 25px;
    }
  }

  .skills-and-tools__tools-list {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1510px;
  }

  .skills-and-tools__tool {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;

    @include tablet-portrait {
      width: 25%;
      margin: 10px 0;
    }

    &:hover {

      .skills-and-tools__tool-title {
        //opacity: 1;
      }
    }
  }

  .skills-and-tools__tool-logo {
    @include sizing('height', (320px: 33px, 768px: 40px, 1600px: 50px));

    object-fit: contain;
  }

  .skills-and-tools__tool-title {
    @include transition(opacity);
    @include sizing('font-size', (320px: 14px, 768px: 16px, 1024px: 19px, 1600px: 26px, 1920px: 28px));

    margin-top: 5px;
    font-weight: 300;
    color: #fff;
    user-select: none;
    cursor: default;
    //opacity: 0;

    //@include mobile {
    //  display: none;
    //}
  }
}