/*=========
  Palette
=========*/
$palette-text-black: #333;
$palette-text-gray-dark: #555;
$palette-text-gray: #777;
$palette-text-gray-light: #999;
$palette-accent: red;
$palette-accent-text: $palette-accent;

/*=========================
  Media Queries variables
=========================*/
$medium-desktop-width: 1600px;
$desktop-width: 1440px;
$small-desktop-width: 1024px;
$tablet-width: 768px;
$small-tablet-width: 600px;