/*=========
  Palette
=========*/
$palette-text-black: #2E3032;
$palette-text-gray-dark: #505457;
$palette-text-gray: #929C9D;
$palette-text-gray-light: #B6BBB7;
$palette-accent-primary: #e51c23; // 229 28 35
$palette-accent-secondary: #118C87; //17 140 135
$palette-accent-primary-text: $palette-accent-primary;
$palette-accent-secondary-text: $palette-accent-secondary;

$palette-bg-gray-light: #dfdfdf;

$palette-html: #e34f26;
$palette-css: #1572b6;
$palette-scss: #cd6799;
$palette-bootstrap: #62488a;
$palette-foundation: #178eb9;
$palette-javascript: #f0db4f;
$palette-react: #00d8ff;
$palette-react-native: #05a5d1;
$palette-redux: #754abb;
$palette-git: #f34f29;

/*=========================
  Media Queries variables
=========================*/
$medium-desktop-width: 1600px;
$desktop-width: 1440px;
$small-desktop-width: 1024px;
$tablet-width: 768px;
$small-tablet-width: 600px;