@import './utils/variables';
@import './utils/mixins';

.experience {
  @include section;

  .title {
    @include title;
  }

  .content {
    @include content;
    align-items: stretch;
    align-content: stretch;
    padding: 0;
  }

  .experience__projects-list {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    padding: calc(25px / 2);

    @include mobile {
      padding: 3px;
    }
  }

  .experience__projects-item {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    width: calc((100% - 75px) / 3);
    max-width: 420px;
    margin: calc(25px / 2);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);

    @include mobile {
      margin: 3px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    }

    @include tablet-portrait {
      width: calc(50% - 25px);
    }
  }
}
