@import './utils/variables';
@import './utils/mixins';

.about-me {
  @include section;

  .title {
    @include title;
  }

  .content {
    @include content;

    flex-grow: 0;
    justify-content: center;
    margin: auto 0;

    @include mobile {
      flex-direction: column;
    }
  }

  .my-photo {
    @include sizing('width', (320px: 160px, 768px: 240px, 1024px: 270px, 1600px: 400px, 1920px: 400px));
    @include sizing('margin-right', (320px: 0, 768px: 30px, 1024px: 80px, 1600px: 130px, 1920px: 150px));

    flex-shrink: 0;
    width: 30%;
    height: auto;
    object-fit: contain;

    @include mobile {
      margin-bottom: 25px;
    }
  }

  .about-me__col {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 800px;

    @include mobile {
      flex-shrink: 0;
    }
  }

  .about-me__paragraph {
    @include sizing('margin-bottom', (320px: 14px, 1024px: 16px, 1600px: 18px, 1920px: 20px));
    @include sizing('font-size', (320px: 14px, 1024px: 16px, 1600px: 18px, 1920px: 20px));

    margin-top: 0;
    margin-bottom: 10px;
    text-indent: 5%;
    color: $palette-text-gray-dark;
  }

  .about-me__buttons {
    display: flex;
    margin-left: 5%;

    @include mobile {
      justify-content: space-between;
      margin-left: 0;

    }
  }

  .about-me__btn,
  .about-me__btn:focus {
    @include sizing('height', (320px: 30px, 768px: 35px,  1600px: 40px));
    @include sizing('padding-left', (320px: 15px, 768px: 17.5px,  1600px: 20px));
    @include sizing('padding-right', (320px: 15px, 768px: 17.5px,  1600px: 20px));
    @include sizing('border-radius', (320px: 15px, 769px: 17.5px, 1600px: 20px));
    @include sizing('font-size', (320px: 12px, 1024px: 14px, 1600px: 16px, 1920px: 18px));
    @include transition(border-radius);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    text-transform: uppercase;
    text-decoration: none;
    color: $palette-text-gray-dark;

    @include mobile {
      width: calc(50% - (25px / 2));
    }
  }

  .about-me__btn--cv {
    @extend .about-me__btn;

    @include sizing('margin-right', (320px: 15px, 768px: 17.5px,  1600px: 20px));
    @include transition(background-color);

    color: #fff !important;
    background-color: $palette-accent-primary;

    &:hover {
      background-color: lighten($palette-accent-primary, 10%);
    }

    &:active {
      background-color: darken($palette-accent-primary, 10%);
    }
  }

  .about-me__btn--contact {
    @extend .about-me__btn;

    @include sizing('border-width', (1024px: 1px, 1600px: 2px));

    border: 1px solid $palette-text-gray-dark;

    &:hover {
      border-color: $palette-accent-primary;
      color: $palette-accent-primary-text;
    }

    &:active {

    }
  }
}