@import './utils/variables';
@import './utils/mixins';

/*=============
  Base styles
=============*/

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: $palette-text-black;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1, h2, h3,
h4, h5, h6 {
  cursor: default;
  user-select: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.app {
  position: relative;
  //max-width: 1920px;
  margin: 0 auto;
}

.fa,
.fa::before,
.fa::after {
  font-family: 'FontAwesome';
}