@import './utils/variables';
@import './utils/mixins';

.input-wrapper {
  position: relative;
  display: flex;

  .label {

  }

  .input {
    border: none;
    border-bottom: 2px solid black;
    outline: none;
  }

  .input--textarea {
    @extend .input;

    resize: none;
  }
}